.noteItem {
  &:hover {
    cursor: pointer;
    .editNote {
      opacity: 1;
      visibility: visible;
      transition: all ease-in-out 0.3s;
    }
  }
  position: relative;

  .imgWrap {
    position: relative;
    min-width: 150px;
    height: 100px;

    img {
      object-fit: cover;
      overflow: hidden;
    }
  }

  .editNote {
    position: absolute;
    top: 0;
    right: 0px;
    padding: 10px;
    visibility: hidden;
    opacity: 0;
    transition: all ease-in-out 0.2s;
  }

  .tags {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
  }
}

// "only" - mobile only
@media screen and (max-width: 768px) {
  .noteItem {
    flex-direction: column;
    align-items: start;

    .editNote {
      opacity: 1;
      visibility: visible;
      transition: all ease-in-out 0.3s;
    }
  }
}

@media screen and (max-width: 568px) {
  .additionalInfo {
    flex-direction: column;
    align-items: start;
  }
}
